* {
	/* outline: 1px dotted red; */
	/* padding: 0;
	margin: 0; */
}

body {
	font-family: "Arial", sans-serif;
	width: 100%;
	background-color: red;
	/* min-height: 100%; */
	/* background-color: #EEEEEE; */
	/* border-bottom: 1px solid #BBBBBB; */
	padding: 0;
	margin: 0;
	/* margin-top: 2%; */
	display: grid;
}

#main_content {
	/* border-right: 1px solid #BBBBBB; */
	/* border-left: 1px solid #BBBBBB; */
	background-color: white;
	padding-top:2%;
}

header {
	border-bottom: 1px solid #BBBBBB;
	padding-left: 3%;
	padding-right: 3%;
	width: 100%;
}
header table,td {
	border: none;
}

.content {
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 6%;
	padding-right: 6%;
}

footer {
	padding: 2%;
	text-align: center;
	font-family: "Times New Roman";
	border-top: 1px solid #BBBBBB;
}
